POSTGRES_USER=finans
POSTGRES_PASSWORD=changeme
POSTGRES_DB=finans
HTTP_PORT=8082
LOG_LEVEL=info
LOG_FORMAT=json
CORS_ORIGINS=https://finanns.space,https://www.finanns.space
UPLOAD_DIR=/uploads
APP_VERSION=v1
